li {
  list-style-type: none;
  font: 400 16px 'Roboto';
  user-select: none;
  margin-top: 5px;
}
.arrow{
  cursor: pointer;
  color: crimson;
  vertical-align: middle;
}
.active {
  border-left: 3px solid crimson;
  height: 34px;
  width: 440px;
  padding-left: 2px;
}

